<app-navbar>
    <span class="user">{{userName}}</span>
    <a class="dropdown-item">Logout <i class="fa fa-sign-out"></i></a>
</app-navbar>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Expense: {{expenseName}}</h3>
            </div>
            <div class="col-12">
                <h3>Amount: {{amount}}</h3>
            </div>
            <div class="col-12">
                <h3>Paid By: {{paidBy}}</h3>
            </div>
            <div class="col-12">
                <h3>Members:</h3>
                <div class="row" *ngFor="let item of members">
                    <div class="col-5">
                        <input type="text" [(ngModel)]="item.email" readonly/>
                    </div>
                    <div class="col-5">
                        <input type="number" [(ngModel)]="item.paid" (change)="paidClickedEvent(item.email,item.paid)"/>
                    </div>
                    <div class="col-2">
                        <a #removeMemberToggler (click)="removeMember(item.email)"><i class="fa fa-times"></i></a>
                    </div>
                    
                </div>
                <div class="col-6">
                    <button class="btn btn-dark" (click)="savePaymentInfo()">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>