

.col-12, .col-6{
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.fa-times{
    color:rgb(255, 38, 0)
}

.fa-times:hover{
    color:rgb(141, 23, 3)
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .fa-times:hover .tooltiptext {
    visibility: visible;
  }