<app-navbar>
    <span class="user">{{userName}}</span>
    <a class="dropdown-item" (click)="logout()">Logout <i class="fa fa-sign-out"></i></a>
</app-navbar>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Expense Name:</h3>
                <h4 style="color: rgb(0, 0, 253);">{{expenseName}}</h4>
            </div>
            <div class="col-12">
                <h6>Amount: <h4 style="color: rgb(0, 0, 253);">{{amount}}</h4>
                    <button class="btn btn-warning" (click)="amountChangeTrigger()">Change amount</button>
                    <input style="margin-left: 10px; margin-top: 10px;" *ngIf="amountChangeTOggler" type="number"
                        [(ngModel)]="amount" />
                    <button *ngIf="amountChangeTOggler" class="btn btn-success m-3" (click)="editExpense()">Save</button>
                </h6>
            </div>
            <div class="col-12">
                <h6>Paid By: ''{{paidBy | uppercase}}'</h6>
            </div>
            <div class="col-12">
                <h6>Created on: {{createdOn | date}}</h6>
            </div>
            <div class="col-12">
                <h6>Last modified on: {{modifiedOn | date}}</h6>
            </div>
        </div>
        <div *ngFor="let item of members" class="row memberCard">
            <div class="col-12 mt-3 text-center">
                <h6>Member: {{item.email}}</h6>
            </div>
            <div style="border: 1px solid black;" class="col-6 pt-3 pb-3 d-flex align-items-center justify-content-center flex-column">

                <h6>Owed:{{item.debt}}</h6>

            </div>
            <div style="border: 1px solid black; " class="col-6 pt-3 pb-3 d-flex align-items-center justify-content-center flex-column ">


                <h6 *ngIf="item.remaining==0">Payment Complete</h6>
                <h6 *ngIf="item.remaining!==0">Remaining: {{item.remaining}}</h6>

            </div>
            <div style="border: 1px solid black;" class="col-6 pt-3 pb-3 d-flex align-items-center justify-content-center flex-column">

                <h6>Paid: {{item.paid}}</h6>

            </div>
            <div style="border: 1px solid black;" class="col-6 pt-3 pb-3 d-flex align-items-center justify-content-center flex-column">

                <button class="btn btn-warning" data-toggle="modal" data-target="#paymentModal" (click)="setPaid(item.paid,item.email)">Update Payment</button>

            </div>
            <div style="border: 1px solid black;" class="col-12 pt-3 pb-3 d-flex align-items-center justify-content-center flex-column">

                <button data-toggle="modal" data-target="#memberRemoval" id="removeMemberTogglerId" class="btn btn-danger" #removeMemberToggler (click)="removeMember(item.email)">Remove Member's Payment</button>

            </div>



            <!-- <td>{{item.email}}</td>
                            <td>{{item.debt}}</td>
                            <td *ngIf="item.remaining==0">Payment Complete</td>
                            <td *ngIf="item.remaining!==0">{{item.remaining}}</td>
                            <td><input style="width: 50%;" type="number" [(ngModel)]="item.paid" (change)="paidClickedEvent(item.email,item.paid)"/>
                            </td>
                            <td>
                                <a id="removeMemberTogglerId" #removeMemberToggler (click)="removeMember(item.email)"><i class="fa fa-times"></i></a>
                                <span class="tooltiptext">&nbsp;Remove member</span> -->

           
        </div>

        <!-- ADD MEMBER -->

        <div class="row mt-3 mb-3 text-center">
            <div class="col-12">
                <button data-toggle="modal" data-target="#memberAdd" id="addMemberTogglerId" class="btn btn-primary">Add new member</button>
            </div>
        </div>

        <!-- ADD MEMBER ENDS -->

        <!-- <div class="row">
            <div class="col-12">
                <h6 style="margin-left: 25px;">Add Members: </h6>
                <div class="col-3">
                    <input type="text" placeholder="email" [(ngModel)]="addEmail" />
                </div>
                <div class="col-3">
                    <input type="number" placeholder="amount paid" [(ngModel)]="addPaid" />
                </div>
                <div class="col-2 text-center">
                    <button class="btn btn-primary" (click)="addDebtors()">Add member</button>
                </div>
            </div>

        </div> -->

        <!-- <div class="col-12">
            <p style="font-weight: 800;" *ngIf="debtorsToAdd.length>=1">Members that will be added:</p>
            <p *ngFor="let item of debtorsToAdd">{{item.email}}</p>
        </div> -->
        <!-- <div class="col-6">
            <button class="btn btn-dark" (click)="editExpense()">Save</button>
        </div> -->
        <div class="row">
            <div class="col-12 mt-3 mb-3 text-center">
                <button style="font-size: 1.5em;" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                    History
                </button>
            </div>
            <div class="col-12 mb-3 text-center">
                <button style="font-size: 1.5em;" type="button" class="btn btn-danger" (click)="deleteExpense()">
                    Delete expense
                </button>
            </div>
        </div>
        
        
        <!--MODAL-->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p *ngFor="let item of history"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;{{item}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p *ngFor="let item of history"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;{{item}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHANGE PAYMENT MODAL-->

        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <input type="number" [(ngModel)]="changePaid" (change)="paidClickedEvent()"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="savePaymentInfo()">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- CHANGE PAYMENT MODAL ENDS-->

        <!-- MEMBER REMOVAL MODAL-->

        <div class="modal fade" id="memberRemoval" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                  <button type="button" (click)="emptyRemoveArray()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-danger" (click)="editExpense()">Remove</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="emptyRemoveArray()">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- MEMBER REMOVAL MODAL ENDS-->

         <!-- MEMBER ADDITION MODAL-->

         <div class="modal fade" id="memberAdd" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
                  <button type="button" (click)="emptyDebtors()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                    <input type="text" placeholder="email" [(ngModel)]="addEmail" />
                    <input type="number" placeholder="amount paid" [(ngModel)]="addPaid" />
                </div>
                <div class="modal-footer">
                    <button *ngIf="addEmail && addPaid" type="button" class="btn btn-success" (click)="addDebtors()">Add member</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="emptyDebtors()">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- MEMBER ADDITION MODAL ENDS-->

        <!-- MODAL ENDS-->
    </div>
</body>