<body class="container-fluid login-page gradient-bg">
    <div class="row gradient-bg2">
        <div class="col-md-12 box">
           

            <form class="formBox">
                
                <div class="form-group">
                    <label for="InputPassword1">Enter new password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control"
                        id="InputPassword1">
                </div>
                <div class="form-group">
                    <button (click)="resetPassword()" type="submit"
                        class="btn btn-outline-dark">Save password</button>
                </div>
            </form>
        </div>
    </div>
</body>
