*{
  overflow: hidden;
}

.row {
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    height: 100vh;
  }
  
  .row:hover {
    width: 95%;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .box {
    background-color: rgb(255, 255, 255);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .linkClass {
    color: black;
  }
  
  .formBox input, 
  .formBox label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 0.25s;
  }
  
  .formBox button {
    background-color: white;
    color: black;
  }
  
  .formBox button:hover {
    background-color: black;
    color: white;
  }
  
  .formBox button:focus {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
  }
  
  .formBox input:not([type="file"]):hover {
    width: 55%;
    border-color: green;
  }
  
  .md3{
      display: flex;
      justify-content: center;
      align-items: center;
      background: none    ;
  }
  
  @media only screen and (max-width:576px) {

    .row{
      width: 100vw;
    }

     button {
      font-size: 1em;
    }

    .formBox input,
  .formBox label{
    width: 100%;
  }
  
    .form-group {
      font-size: 16px;
    }

    .formBox input:not([type="file"]):hover {
      width: 100%;
    }
  }
  
  @media only screen and (min-width:577px) and (max-width:992px) {
     button {
      font-size: 1em;
    }

    .row{
      width: 100vw;
    }
  
    .formBox input,
    .formBox label{
      width:100%;
    }
    
      .form-group {
        font-size: 15px;
      }
  
      .formBox input:not([type="file"]):hover {
        width: 100%;
      }
  }
  
  .gradient-bg {
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 25%;
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  