#notifications{
    background: rgb(65, 65, 65);
    margin-top: 20px;
    color :white;
}

#expenses{
    margin-top: 20px;
}

tr:hover{
    background: rgb(90, 90, 90);
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.25s;
}

.modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    left: 0px;
    overflow-y: initial !important;
}

.modal-body{
    height: 80vh;
    overflow-y: auto;
}

button{
    margin:5px;
}

@media only screen and (max-width:576px){
body{
    font-size: 0.6em;
}
button{
    font-size: 0.8em;
}
}

@media only screen and (min-width:577px) and (max-width:992px){

}
