<app-navbar>
    <span class="user">{{userName}}</span>
    <a class="dropdown-item" (click)="logout()">Logout<i class="fa fa-sign-out"></i></a>
</app-navbar>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2 d-flex flex-column align-items-center justify-content-center" id="notifications">
                <div class="row">
                    <button class="btn btn-light">Create Expense</button>
                </div>
                <div class="row text-center">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong">
                        Notifications
                    </button>
                  </div>
            </div>
            <div class="col-md-10 text-center" id="expenses">
                <!-- TABLE-->
                <table class="table table-striped table-dark text-center">
                    <thead class="thead-light">
                        <tr>

                            <th scope="col">Expense</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Expense Id</th>
                            <th scope="col">Creator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userExpenses" routerLink="/dashboard/expense/{{item.expenseId}}"
                            (click)="selectedExpense(item.expenseId)">

                            <td>{{item.expenseName}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.expenseId}}</td>
                            <td>{{item.createdBy}}</td>
                        </tr>

                    </tbody>
                </table>
                <!--TABLE ENDS-->
            </div>
        </div>
        <!--MODAL-->

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let item of userNotifications"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;{{item}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <!--MODAL ENDS-->
    </div>
</body>