
.row {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
    padding: 5px;
    transition: 0.5s;
  }
  
  .box {
    background-color: rgb(255, 255, 255);
  }
  
  .formBox {
    width: 100%;
    padding: 20px;
  }
  
  img{
    height: fit-content;
  }
  
  
  
  .linkClass {
    color: black;
  }
  
  .formBox input[type="email"],
  .formBox input[type="password"],
  .formBox label {  
    width: 95%;
    transition: 0.25s;
  }
  

  
  .formBox button:hover {
    background-color: black;
    color: white;
  }
  
  .formBox button:focus {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
  }
  
  .formBox input[type="email"]:hover,
  .formBox input[type="password"]:hover {
    width: 100%;
    border-color: green;
  }
  
  @media only screen and (max-width:576px) {
    .row {
      height: 100vh;
    }

    h1{
      font-size: 20px;
    }

    img{
      height: 100px;
    }
    

    button {
      font-size: 16px;
    }
  
    .linkClass {
      color: black;
    }
  
    .form-group {
      font-size: 16px;
    }

    .formBox input[type="email"],
  .formBox input[type="password"],
  .formBox label {
    width: 100%;
  }

  .formBox input[type="email"]:hover,
  .formBox input[type="password"]:hover {
    width: 100%;
    border-color: green;
  }
  }
  
  @media only screen and (min-width:577px) and (max-width:992px) {
    button {
      font-size: 16px;
    }
  
    .linkClass {
      color: black;
    }

    h1{
      font-size: 20px;
    }

    img{
      height: 100px;
    }
  
    .form-group {
      font-size: 16px;
    }

    .formBox input[type="email"],
    .formBox input[type="password"],
    .formBox label {
      width: 100%;
    }
  
    .formBox input[type="email"]:hover,
    .formBox input[type="password"]:hover {
      width: 100%;
      border-color: green;
    }
    
  }
  
  .gradient-bg2 {
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate-reverse infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  